.a1 {
    width: 48px;
height: 48px;
position: absolute;
top: 40px;
left: 142px;
gap: 0px;
opacity: 0px;
}
.a2 {
    width: 810px;
height: 732px;
position: absolute;
top: 146px;
left: 140px;
gap: 0px;
border-radius: 20px;
opacity: 0px;
}
.a3 {
    width: 786px;
height: 732px;
position: absolute;
top: 146px;
left: 994px;
gap: 0px;
border-radius: 24px;
opacity: 0px;
background: #F8F8F8;
box-shadow: 0px 4px 18px 0px #C2C2C24D;
}
.a4 {
    width: 42px;
height: 21px; 
position: absolute;
top: 54px;
left: 775px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #000000E5;
text-decoration: none;
}
.a5 {
    width: 60px;
height: 21px;
position: absolute;
top: 54px;
left: 865px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #000000E5;
text-decoration: none;
}
.a6 {
    width: 77px;
height: 21px;
position: absolute;
top: 54px;
left: 973px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
color: #000000E5;
text-decoration: none;
}
.a7 {
    width: 47px;
height: 21px;
position: absolute;
top: 55px;
left: 1098px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
color: #000000E5;
text-decoration: none;
}
.a8 {
    width: 42px;
height: 2px;
position: absolute;
top: 84px;
left: 875px;
gap: 0px;
opacity: 0px;
background: #29B24E;
}
.a9 {
    width: 76px;
height: 28px;
position: absolute;
top: 176px;
left: 1034px;
gap: 0px;
border-radius: 15px;
opacity: 0px;
background: #29B24E;
}
.a10 {
    width: 70px;
height: 18px;
position: absolute;
top: 170px;
left: 1045px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
text-align: left;
color: #FFFFFF;
}
.a11 {
    width: 107px;
height: 23px;
position: absolute;
top: 178px;
left: 1334px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 23px;
text-align: center;
color: #C2C2C24D;
}
.a12 {
    width: 16px;
height: 16px;
position: absolute;
top: 185px;
left: 1663px;
gap: 0px;
opacity: 0px;
}
.a13 {
    width: 53px;
height: 23px;
position: absolute;
top: 170px;
left: 1687px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 23px;
text-align: left;
color: #C2C2C24D;
}
.a14 {
    width: 618px;
height: 33px;
position: absolute;
top: 228px;
left: 1034px;
gap: 0px;
opacity: 0.9px;
font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
text-align: left;
}
.a15 {
    width: 326px;
height: 21px;
position: absolute;
top: 273px;
left: 1034px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #C2C2C24D;
}
.a16 {
    width: 611px;
height: 69px;
position: absolute;
top: 326px;
left: 1034px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #C2C2C24D;
}
.a17 {
    width: 786px;
height: 1px;
position: absolute;
top: 435px;
left: 994px;
gap: 0px;
opacity: 0px;
background: #ECECEC;
}
.a18 {
    width: 87px;
height: 23px;
position: absolute;
top: 452px;
left: 1034px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a19 {
    width: 78px;
height: 23px;
position: absolute;
top: 452px;
left: 1145px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a20 {
    width: 83px;
height: 23px;
position: absolute;
top: 452px;
left: 1247px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a21 {
    width: 54px;
height: 23px;
position: absolute;
top: 452px;
left: 1354px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a22 {
    width: 786px;
height: 1px;
position: absolute;
top: 491px;
left: 994px;
gap: 0px;
opacity: 0px;
background: #ECECEC;
}
.a23 {
    width: 103px;
height: 23px;
position: absolute;
top: 516px;
left: 1034px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #C2C2C24D;
}
.a24 {
    width: 52px;
height: 23px;
position: absolute;
top: 516px;
left: 1269px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #C2C2C24D;
}
.a25 {
    width: 76px;
height: 23px;
position: absolute;
top: 516px;
left: 1504px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #C2C2C24D;
}
.a26 {
    width: 59px;
height: 23px;
position: absolute;
top: 582px;
left: 1034px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #C2C2C24D;
}
.a27 {
    width: 62px;
height: 23px;
position: absolute;
top: 582px;
left: 1504px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #C2C2C24D;
}
.a28 {
    width: 59px;
height: 23px;
position: absolute;
top: 648px;
left: 1034px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #C2C2C24D;
}
.a29 {
    width: 76px;
height: 23px;
position: absolute;
top: 648px;
left: 1504px;
gap: 0px;
opacity: 0.6px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #C2C2C24D;
}
.a30 {
    width: 93px;
height: 23px;
position: absolute;
top: 543px;
left: 1034px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a31 {
    width: 77px;
height: 23px;
position: absolute;
top: 609px;
left: 1034px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a32 {
    width: 77px;
height: 23px;
position: absolute;
top: 675px;
left: 1034px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a33 {
    width: 133px;
height: 208px;
position: absolute;
top: 543px;
left: 1269px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a34 {
    width: 64px;
height: 23px;
position: absolute;
top: 543px;
left: 1503px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a35 {
    width: 113px;
height: 23px;
position: absolute;
top: 609px;
left: 1503px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a36 {
    width: 68px;
height: 23px;
position: absolute;
top: 675px;
left: 1503px;
gap: 0px;
opacity: 0.8px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.a37 {
    width: 786px;
height: 1px;
position: absolute;
top: 775px;
left: 994px;
gap: 0px;
opacity: 0px;
background: #ECECEC;
}
.a38 {
    width: 170px;
height: 54px;
position: absolute;
top: 800px;
left: 1088px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 36px;
font-weight: 600;
line-height: 54px;
text-align: right;
color: #29B24E;
}
.a39 {
    width: 170px;
height: 54px;
position: absolute;
top: 835px;
left: 1150px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: right;
}
.a40 {
    width: 150px;
height: 35px;
position: absolute;
top: 803px;
left: 1491px;
padding: 13px 26px 13px 26px;
gap: 10px;
border-radius: 12px;
border: 1px;
opacity: 0px;
border: 1px solid #29B24E
}
.a41 {
    width: 101px;
height: 21px;
gap: 0px;
opacity: 0px;
position: absolute;
top: 810px;
left: 1535px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #29B24E;
}
.a42 {
    width: 50px;
height: 35px;
position: absolute;
top: 803px;
left: 1700px;
padding: 13px 26px 13px 26px;
gap: 10px;
border-radius: 12px;
opacity: 0px;
background: #29B24E;
}
.a43 {
    width: 28px;
height: 21px;
position: absolute;
top: 810px;
left: 1735px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #FFFFFF;
}
.a44 {
    width: 125px;
height: 33px;
position: absolute;
top: 950px;
left: 140px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 22px;
font-weight: 500;
line-height: 33px;
text-align: left;
}
.a45 {
    width: 395px;
height: 424px;
position: absolute;
top: 1007px;
left: 140px;
gap: 0px;
border-radius: 24px;
opacity: 0px;
background: #F8F8F8;
box-shadow: 0px 4px 18px 0px #C2C2C24D;
}
.a46 {
    width: 363px;
height: 202px;
position: absolute;
top: 1023px;
left: 156px;
gap: 0px;
border-radius: 20px;
opacity: 0px;
}
.a47 {
    width: 76px;
height: 30px;
position: absolute;
top: 1035px;
left: 168px;
gap: 0px;
border-radius: 15px;
opacity: 0px;
background: #29B24E;
}
.a48 {
    width: 70px;
height: 18px;
position: absolute;
top: 1025px;
left: 175px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
}
.a49 {
    width: 40px;
height: 40px;
position: absolute;
top: 1205px;
left: 475px;
gap: 0px;
border-radius: 100px;
opacity: 0px;
background: #FFFFFF;
box-shadow: -2px 4px 20px 0px #6D6D6D40;
}
.a50 {
    width: 303px;
height: 24px;
position: absolute;
top: 1241px;
left: 160px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
.a51 {
    width: 131px;
height: 21px;
position: absolute;
top: 1290px;
left: 160px;
gap: 0px;
opacity: 0.5px;
color: #C2C2C24D;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a52 {
    width: 18px;
height: 18px;
position: absolute;
top: 1216px;
left: 486px;
gap: 0px;
opacity: 0px;
}
.a53 {
    width: 124px;
height: 36px;
position: absolute;
top: 1309px;
left: 345px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: right;
color: #29B24E;
}
.a54 {
    width: 124px;
    height: 36px;
    position: absolute;
    top: 1330px;
    left: 398px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: right;
}
.a55 {
    width: 395px;
height: 1px;
position: absolute;
top: 1361px;
left: 140px;
gap: 0px;
border-radius: 2px;
opacity: 0px;
}
.a56 {
    width: 77px;
height: 21px;
position: absolute;
top: 1386px;
left: 160px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a57 {
    width: 83px;
height: 21px;
position: absolute;
top: 1386px;
left: 300px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a58 {
    width: 69px;
height: 21px;
position: absolute;
top: 1386px;
left: 446px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a59 {
    width: 395px;
height: 424px;
position: absolute;
top: 1007px;
left: 555px;
gap: 0px;
border-radius: 24px;
opacity: 0px;
background: #F8F8F8;
box-shadow: 0px 4px 18px 0px #C2C2C24D;
}
.a60 {
    width: 363px;
height: 202px;
position: absolute;
top: 1023px;
left: 571px;
gap: 0px;
border-radius: 20px;
opacity: 0px;
}
.a61 {
    width: 76px;
height: 30px;
position: absolute;
top: 1035px;
left: 583px;
gap: 0px;
border-radius: 15px;
opacity: 0px;
background: #29B24E;
}
.a62 {
    width: 70px;
height: 18px;
position: absolute;
top: 1025px;
left: 590px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
}
.a63 {
    width: 40px;
height: 40px;
position: absolute;
top: 1205px;
left: 890px;
border-radius: 100px;
gap: 0px;
opacity: 0px;
background: #FFFFFF;
box-shadow: -2px 4px 20px 0px #6D6D6D40;
}
.a64 {
    width: 18px;
height: 18px;
position: absolute;
top: 1216px;
left: 901px;
gap: 0px;
opacity: 0px;
}
.a65 {
    width: 303px;
height: 24px;
position: absolute;
top: 1241px;
left: 575px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
.a66 {
    width: 131px;
height: 21px;
position: absolute;
top: 1273px;
left: 575px;
gap: 0px;
opacity: 0.5px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #C2C2C24D;
}
.a67 {
    width: 124px;
height: 36px;
position: absolute;
top: 1309px;
left: 755px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: right;
color: #29B24E;
}
.a68 {
    width: 124px;
height: 36px;
position: absolute;
top: 1330px;
left: 803px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: right;
}
.a69 {
    width: 395px;
height: 1px;
position: absolute;
top: 1361px;
left: 555px;
gap: 0px;
border-radius: 2px;
opacity: 0px;
background: #CFEAD6;
}
.a70 {
    width: 77px;
height: 21px;
position: absolute;
top: 1386px;
left: 575px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a71 {
    width: 83px;
height: 21px;
position: absolute;
top: 1386px;
left: 715px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left
}
.a72 {
    width: 69px;
height: 21px;
position: absolute;
top: 1386px;
left: 861px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left
}
.a73 {
    width: 395px;
height: 424px;
position: absolute;
top: 1007px;
left: 970px;
gap: 0px;
border-radius: 24px;
opacity: 0px;
background: #F8F8F8;
box-shadow: 0px 4px 18px 0px #C2C2C24D;
}
.a74 {
    width: 363px;
height: 202px;
position: absolute;
top: 1023px;
left: 986px;
gap: 0px;
border-radius: 20px;
opacity: 0px;
}
.a75 {
    width: 76px;
height: 30px;
position: absolute;
top: 1035px;
left: 998px;
gap: 0px;
border-radius: 15px;
opacity: 0px;
background: #29B24E;
}
.a76 {
    width: 70px;
height: 18px;
position: absolute;
top: 1025px;
left: 1005px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
}
.a77 {
    width: 40px;
height: 40px;
position: absolute;
top: 1205px;
left: 1305px;
gap: 0px;
border-radius: 100px;
opacity: 0px;
background: #FFFFFF;
box-shadow: -2px 4px 20px 0px #6D6D6D40;
}
.a78 {
    width: 18px;
height: 18px;
position: absolute;
top: 1216px;
left: 1316px;
gap: 0px;
opacity: 0px;
}
.a79 {
    width: 303px;
height: 24px;
position: absolute;
top: 1241px;
left: 990px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
.a80 {
    width: 131px;
height: 21px;
position: absolute;
top: 1290px;
left: 990px;
gap: 0px;
opacity: 0.5px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #C2C2C24D;
}
.a81 {
    width: 124px;
height: 36px;
position: absolute;
top: 1309px;
left: 1175px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: right;
color: #29B24E;
}
.a82 {
    width: 124px;
height: 36px;
position: absolute;
top: 1330px;
left: 1228px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: right;
}
.a83 {
    width: 395px;
height: 1px;
position: absolute;
top: 1361px;
left: 970px;
gap: 0px;
border-radius: 2px;
opacity: 0px;
background: #CFEAD6;
}
.a84 {
    width: 77px;
height: 21px;
position: absolute;
top: 1386px;
left: 990px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a85 {
    width: 83px;
height: 21px;
top: 1386px;
left: 1130px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a86 {
    width: 69px;
height: 21px;
position: absolute;
top: 1386px;
left: 1276px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a87 {
    width: 395px;
height: 424px;
position: absolute;
top: 1007px;
left: 1385px;
gap: 0px;
border-radius: 24px;
opacity: 0px;
background: #F8F8F8;
box-shadow: 0px 4px 18px 0px #C2C2C24D;
}
.a88 {
    width: 363px;
height: 202px;
position: absolute;
top: 1023px;
left: 1401px;
gap: 0px;
border-radius: 20px;
opacity: 0px;
}
.a89 {
    width: 76px;
height: 30px;
position: absolute;
top: 1035px;
left: 1413px;
gap: 0px;
border-radius: 15px;
opacity: 0px;
background: #29B24E;
}
.a90 {
    width: 70px;
height: 18px;
position: absolute;
top: 1025px;
left: 1420px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
}
.a91 {
    width: 40px;
height: 40px;
position: absolute;
top: 1205px;
left: 1720px;
gap: 0px;
border-radius: 100px;
opacity: 0px;
background: #FFFFFF;
box-shadow: -2px 4px 20px 0px #6D6D6D40;
}
.a92 {
    width: 18px;
height: 18px;
position: absolute;
top: 1216px;
left: 1731px;
gap: 0px;
opacity: 0px;
}
.a93 {
    width: 303px;
height: 24px;
position: absolute;
top: 1241px;
left: 1405px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
.a94 {
    width: 131px;
height: 21px;
position: absolute;
top: 1290px;
left: 1405px;
gap: 0px;
opacity: 0.5px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #C2C2C24D;
}
.a95 {
    width: 124px;
height: 36px;
position: absolute;
top: 1309px;
left: 1590px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: right;
color: #29B24E;
}
.a96 {
    width: 124px;
height: 36px;
position: absolute;
top: 1330px;
left: 1643px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: right;
}
.a97 {
    width: 395px;
height: 1px;
position: absolute;
top: 1361px;
left: 1385px;
gap: 0px;
border-radius: 2px;
opacity: 0px;
background: #CFEAD6;
}
.a98 {
    width: 77px;
height: 21px;
position: absolute;
top: 1386px;
left: 1405px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a99 {
    width: 83px;
height: 21px;
position: absolute;
top: 1386px;
left: 1545px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a100 {
    width: 69px;
height: 21px;
position: absolute;
top: 1386px;
left: 1691px;
gap: 0px;
opacity: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a102 {
    width: 1920px;
height: 179px;
position: absolute;
top: 1551px;
gap: 0px;
border-radius: 25px;
opacity: 0px;
background: #29B24E;
}
.a103 {
    width: 1640px;
height: 1px;
position: absolute;
top: 1650px;
left: 140px;
gap: 0px;
border-radius: 40px;
opacity: 0px;
background: #D0D0D0;
}
.a104 {
position: absolute;
top: 1580px;
left: 145px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
color: #FFFFFF;
}
.a105 {
position: absolute;
top: 1580px;
left: 235px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
color: #FFFFFF;
}
.a106 {
position: absolute;
top: 1580px;
left: 285px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
color: #FFFFFF;
}
.a107 {
position: absolute;
top: 1580px;
left: 400px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
color: #FFFFFF;
}
.a108 {
    width: 205px;
height: 21px;
position: absolute;
top: 1655px;
left: 859px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a109 {
    width: 158px;
height: 21px;
position: absolute;
top: 1600px;
left: 881px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a110 {
position: absolute;
top: 1580px;
left: 1386px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a111 {
position: absolute;
top: 1580px;
left: 1503px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a112 {
    position: absolute;
top: 1580px;
left: 1624px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a113 {
    position: absolute;
top: 1580px;
left: 1733px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
.a114 {
    width: 120px;
height: 35px;
position: absolute;
top: 42px;
left: 1626px;
padding: 13px 26px 13px 26px;
gap: 10px;
border-radius: 12px;
opacity: 0px;
background: #29B24E;
}
.a115 {
    width: 104px;
height: 21px;
position: absolute;
top: 50px;
left: 1660px;
color: #FFFFFF;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}
body {
    background: #F2F2F2;
}